.category-contests,
.category-how-tos,
.category-contests,
.category-recipes {
    .entry-content p {
        width: 800px;
    }
    .entry-title a {
        text-decoration: none;
        color: $company-green;
    }
}