/*************************************************************************************************************
*************************************Archive products styling page********************************************/

.page-title {
    padding-right: 2.2rem;
    font-size: 2.3rem;
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 1px;
}

.product-types {
    display: flex;
    justify-content: center;
    height: 50px;
    width: 1120px;
    margin: 2rem auto;
    padding-bottom: 4rem;
    border-bottom: 1px dashed #e1e1e1;
    a {
        padding-right: 2.2rem;
        text-transform: uppercase;
        text-decoration: none;
        color: $company-green;
        font-size: 1.5rem;
    }
}


/*****************************************fix this ****************************************************************
************************************************************************
***********************************************************************************/

.categories-on-shop-page {
    display: flex;
    text-align: center;
    height: 50px;
}

.all-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1120px;
    img {
        height: 200px;
        width: 260px;
        border: 1px solid #e1e1e1;
        border-top: none;
    }
}

.one-product {
    width: 260px;
    height: 270px;
    background: #e1e1e1;
    margin-bottom: 2rem;
}

.type-product .title-and-price {
    display: flex;
    justify-content: space-around;
    padding: 0 1rem;
    width: 260px;
    background: white;
    border: 1px solid #e1e1e1;
    border-top: none;
    font-size: 1rem;
    p {
        background-color: white;
        z-index: 0;
    }
    a {
        color: black;
        text-decoration: none;
        font-family: 'merriweather';
    }
    .entry-title:after {
        white-space: nowrap;
        content: "...............";
        position: absolute;
        z-index: -1;
    }
}