.page-id-134 .site-content {
    display: flex;
    width: 1120px;
    margin: 0 auto;
}
.find-us-paragraph {
    width: 760px;
}

.wpcf7-textarea {
    width: 760px;
}
.wpcf7-submit {
    background-color: $company-green;
}
