/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/


/* Buttons */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    background: $company-green;
    color: white;
    line-height: 1;
    border: $company-green;
    text-transform: uppercase;
    font-size: .9rem;
    padding: .8rem 1.5rem;
    &:hover {
        background: darken($company-green, 15%);
    }
    &:active,
    &:focus {
        background: darken($company-green, 15%);
    }
}


/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
    color: #666;
    border: 1px solid #ccc;
    border-radius: 0px;
    &:focus {
        color: #111;
    }
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
    padding: 6px;
}

input[type="url"] {
    width: 770px;
}

textarea {
    padding-left: 3px;
    width: 770px;
}

.comment-form {
    margin-right: 1rem;
}
.comment-list {
    padding-left:0;
    margin-left:0;
}
.comment-respond p a {
    padding: 0;
}