/*Front Page Styling***************************
*************************************************/

.hero-banner {
    background: url(../../images/logos/inhabitent-logo-full.svg) center no-repeat, linear-gradient(rgba(0, 0, 0, .4) 0, rgba(0, 0, 0, .4)), url(../../images/home-hero.jpg);
    height: 100vh;
    background-size: 50% 50%, cover, cover;
}

.site-content {
    padding-top: 50px;
}


/*********Product categories styling*************************/

.product-types-on-front-page {
    display: flex;
    justify-content: space-between;
    width: 1120px;
    margin: 0 auto;
    height: 350px;
}

.product-type-on-front-page {
    display: flex;
    flex-flow: column;
    width: 270px;
    height: 300px;
    padding: 1rem;
    text-align: center;
    border: 1px solid #e1e1e1;
    border-top-width: 5px;
    font-size: 1.1rem;
    &:hover {
        border: 1px solid #d99054;
        border-top-width: 5px;
    }
    img {
        width: 75px;
        margin: 0 auto;
    }
    a {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        &:hover {
            color: white;
        }
    }
    .category-link-button {
        width: 140px;
        margin: 0 auto;
        padding: .8rem 0;
        background: $company-green;
        &:hover {
            background: darken($company-green, 10%);
        }
    }
}


/*********INhabitent Journal Styling*************************/

.recent-posts {
    display: flex;
    justify-content: space-between;
    width: 1120px;
    margin: 0 auto;
    height: 700px;
}

.home-page-journal-entry {
    display: flex;
    flex-flow: column;
    width: 365px;
    height: 600px;
    text-align: center;
    background: #e1e1e1;
    font-size: 1.1rem;
    img {
        height: 250px;
    }
    .home-page-journal-info {
        background: white;
        .journal-link-button {
            width: 140px;
            margin: 0 auto;
            padding: .8rem 0;
            background: $company-green;
        }
    }
}


/*********Adventures categories styling*************************/

.adventures {
    display: flex;
    height: 600px;
    margin: 0 auto;
    width: 1120px;
    margin-bottom: 20px;
    a {
        text-decoration: none;
        color: white;
        &:visited {
            color: white;
        }
        &:hover {
            color: #f0e4d1
        }
    }
}

.latest-adventures {
    line-height: 1;
}

.front-page-h2 {
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    p:hover {
        color: white;
    }
}

// Fix width. Not matching up with the example site.
.box-1 {
    height: 100%;
    width: 50%;
    padding: 4rem 2rem;
    background: linear-gradient(rgba(0, 0, 0, .4) 0, rgba(0, 0, 0, .4)), url(../../images/adventure-photos/canoe-girl.jpg) center;
    background-size: cover, cover;
    border-right: solid 10px white;
    font-size: 3.6rem;
}

.right-box {
    width: 50%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.bottom-right-box {
    display: flex;
    width: 100%;
    height: 50%
}

.box-2 {
    height: 50%;
    width: 100%;
    padding: 4rem 2rem;
    background: linear-gradient(rgba(0, 0, 0, .4) 0, rgba(0, 0, 0, .4)), url(../../images/adventure-photos/beach-bonfire.jpg) center;
    background-size: cover, cover;
    border-left: solid 10px white;
    border-bottom: solid 10px white;
    font-size: 3rem;
}

.box-3 {
    height: 100%;
    width: 50%;
    padding: 4rem 2rem;
    background: linear-gradient(rgba(0, 0, 0, .4) 0, rgba(0, 0, 0, .4)), url(../../images/adventure-photos/mountain-hikers.jpg) center;
    background-size: cover, cover;
    border-top: solid 10px white;
    border-left: solid 10px white;
    border-right: solid 10px white;
    font-size: 1.9rem;
}

.box-4 {
    height: 100%;
    width: 50%;
    padding: 4rem 2rem;
    background: linear-gradient(rgba(0, 0, 0, .1) 0, rgba(0, 0, 0, .1)), url(../../images/adventure-photos/night-sky.jpg) center;
    background-size: cover, cover;
    border-left: solid 10px white;
    border-top: solid 10px white;
    font-size: 1.9rem;
}

.read-more {
    padding-left: 3rem;
}

.read-more-button {
    border: 1px solid white;
    font-size: 1rem;
    padding: .8rem 1.2rem;
    text-transform: uppercase;
    &:hover {
        background-color: $company-green;
        border: 1px solid $company-green;
        color: white;
    }
}

.more-adventures-button {
    margin-left: 140px;
    font-size: 1rem;
    padding: .8rem 1.2rem;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    background-color: $company-green;
    &:hover {
        background: darken($company-green, 10%);
        color: white;
    }
}