.hero-banner {
    background: url(../../images/logos/inhabitent-logo-full.svg) center no-repeat, linear-gradient(rgba(0, 0, 0, .4) 0, rgba(0, 0, 0, .4)), url(../../images/home-hero.jpg);
    height: 100vh;
    background-size: 50% 50%, cover, cover;
}

.adventures {
    display: flex;
    height: 600px;
    margin: 0 auto;
    width: 1120px;
    margin-bottom: 20px;
    a {
        text-decoration: none;
        color: white;
        &:visited {
            color: white;
        }
        &:hover {
            color: #f0e4d1
        }
    }
}

.latest-adventures {
    line-height: 1;
}

.latest-adventures-title {
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    p:hover {
        color: white;
    }
}

// Fix width. Not matching up with the example site.
.box-1 {
    height: 100%;
    width: 50%;
    padding: 4rem 2rem;
    background: linear-gradient(rgba(0, 0, 0, .4) 0, rgba(0, 0, 0, .4)), url(../../images/adventure-photos/canoe-girl.jpg) center;
    background-size: cover, cover;
    border-right: solid 10px white;
    font-size: 3.6rem;
}

.right-box {
    width: 50%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.bottom-right-box {
    display: flex;
    width: 100%;
    height: 50%
}

.box-2 {
    height: 50%;
    width: 100%;
    padding: 4rem 2rem;
    background: linear-gradient(rgba(0, 0, 0, .4) 0, rgba(0, 0, 0, .4)), url(../../images/adventure-photos/beach-bonfire.jpg) center;
    background-size: cover, cover;
    border-left: solid 10px white;
    border-bottom: solid 10px white;
    font-size: 3rem;
}

.box-3 {
    height: 100%;
    width: 50%;
    padding: 4rem 2rem;
    background: linear-gradient(rgba(0, 0, 0, .4) 0, rgba(0, 0, 0, .4)), url(../../images/adventure-photos/mountain-hikers.jpg) center;
    background-size: cover, cover;
    border-top: solid 10px white;
    border-left: solid 10px white;
    border-right: solid 10px white;
    font-size: 1.9rem;
}

.box-4 {
    height: 100%;
    width: 50%;
    padding: 4rem 2rem;
    background: linear-gradient(rgba(0, 0, 0, .1) 0, rgba(0, 0, 0, .1)), url(../../images/adventure-photos/night-sky.jpg) center;
    background-size: cover, cover;
    border-left: solid 10px white;
    border-top: solid 10px white;
    font-size: 1.9rem;
}

.read-more {
    padding-left: 3rem;
}

.read-more-button {
    border: 1px solid white;
    font-size: 1rem;
    padding: .8rem 1.2rem;
    text-transform: uppercase;
    &:hover {
        background-color: $company-green;
        border: 1px solid $company-green;
        color: white;
    }
}

.more-adventures-button {
    font-size: 1rem;
    padding: .8rem 1.2rem;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    background-color: $company-green;
    &:hover {
        background-color: ($company-green, darken);
        color: white;
    }
}