/**********Header Styling (search bar and navigation in different file*********/

.header-background {
    display: flex;
    background: rgba(255, 255, 255, 0.8);
    border-bottom: $standard-border;
    width: 100%;
    position: fixed;
    z-index: 1;
}

.header {
    display: flex;
    height: 50px;
    padding: .5rem 0;
    width: 1120px;
    justify-content: space-between;
    margin: 0 auto;
}

.header-up {
    top: -40px; // same as header height. use variables in LESS/SASS
}

.logo-top {
    height: 50px;
    width: auto;
    padding-bottom: 15px;
}

.main-nav-bar {
    display: inline-block;
}