.content-area {
    display: flex;
    padding-top: 50px;
    width: 1120px;
    margin: 0 auto;
}

.type-post {
    width: 75%;
    p {
        width: 960px;
    }
}

.type-post .entry-content {
    width: 960px;
}

.side-bar {
    width: 160px;
    border-left: 1px solid #e1e1e1;
    padding: 2rem 3rem;
    padding-right: 0;
    h3 {
        font-size: 2rem;
        text-transform: uppercase;
    }
}

.type-post .entry-header {
    position: relative;
    width: 960px;
    margin: 4rem;
    margin-left: 0;
    img {
        width: 1000px;
        height: auto;
    }
}

.type-post .entry-title {
    position: absolute;
    top: 0;
    left: 0;
    background: $company-green;
    padding: 1rem 2rem;
    max-width: 75%;
    text-transform: uppercase;
    a {
        text-decoration: none;
        width: 75%;
        font-size: 2.5rem;
        color: white;
        &:visited {
            color: white;
        }
        &:hover {
            color: #f0e4d1
        }
    }
}

.type-post .entry-meta {
    position: absolute;
    bottom: 6px;
    right: 0;
    background: #248a83;
    padding: .2rem 1rem;
    font-size: 1.1rem;
    text-transform: uppercase;
    color: #fff;
}


/*.read-more {
    padding-left: 3rem;
}*/

.read-more-article {
    border: 1px solid black;
    text-decoration: none;
    color: black;
    font-size: 1rem;
    padding: .8rem 1.2rem;
    margin-top: 4%;
    text-transform: uppercase;
    &:visited {
        color: black;
    }
    &:hover {
        background-color: $company-green;
        border: 1px solid $company-green;
        color: white;
    }
}

.type-post .entry-footer {
    text-transform: uppercase;
    a {
        text-decoration: none;
        color: $company-green;
    }
}

.cat-links {
    margin-right: 2rem;
}