/***************Search styling******************/

.search-results {
    .site-main {
        width: 800px;
        margin-right: 2rem;
    }
    .page-title-search {
        text-align: left;
        text-transform: uppercase;
        font-size: 2.4rem;
        border-bottom: $standard-border;
    }
    .entry-title a {
        text-decoration: none;
        text-transform: uppercase;
        color: $company-green;
        font-size: 2.2rem;
        font-weight: bold;
    }
    .entry-meta {
        font-family: 'novocento'
    }
}

.search,
.not-found,
{
    margin-right: 3rem;
    .page-content .search-icon i {
        display: none;
    }
}


/***************404 error styling******************/

.not-found {
    .widgettitle,
    .widget-title {
        text-transform: uppercase;
        font-weight: bold;
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li a {
            color: $company-green;
            text-decoration: none;
            font-family: 'merriweather';
        }
    }
    #archives-dropdown--1 {
        font-family: 'merriweather';
    }
    fieldset {
        border: none;
    }
    .search-submit {
        display: none;
    }
}

.search-pagination {
    margin-bottom: 3rem;
    a {
        text-decoration: none;
        color: white;
        padding: .4rem .7rem;
        background: $company-green;
        text-transform: uppercase;
    }
    .current {
        color: white;
        padding: .3rem .5rem;
        background: grey;
    }
}


/***************Search bar in header******************/

fieldset {
    border: none;
}

.header .search-field {
    display: none;
    text-transform: uppercase;
    width: 250px;
}

.header #search {
    border: none;
    background: none;
    padding: 0;
    padding-left: 1rem;
    &:focus {
        outline: none;
    }
}

.search-bar-header {
    display: flex;
    .search-icon {
        color: $company-green;
        padding: 0;
        padding-left: .5rem;
        padding-top: .1rem;
        font-size: 1rem;
        &:focus {
            outline: none;
        }
    }
}