/***************Search styling******************/

.search-results {
    .site-main {
        margin-right: 3rem;
        width: 770px;
    }
    .page-title-search {
        text-align: left;
        text-transform: uppercase;
        font-size: 2.4rem;
        border-bottom: 1px solid #e1e1e1;
    }
    .entry-title a {
        text-decoration: none;
        text-transform: uppercase;
        color: $company-green;
        font-size: 2.2rem;
        font-weight: bold;
    }
    .entry-meta {
        font-family: 'novocento'
    }
}


/***************404 error styling******************/

.not-found {
    .widgettitle,
    .widget-title {
        text-transform: uppercase;
        font-weight: bold;
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li a {
            color: $company-green;
            text-decoration: none;
            font-family: 'merriweather';
        }
    }
    #archives-dropdown--1 {
        font-family: 'merriweather';
    }
    fieldset {
        border: none;
    }
    .search-submit {
        display: none;
    }
}

.search-pagination {
    margin-bottom: 3rem;
    a {
        text-decoration: none;
        color: white;
        padding: .4rem .7rem;
        background: $company-green;
        text-transform: uppercase;
    }
    .current {
        color: white;
        padding: .3rem .5rem;
        background: grey;
    }
}

/***************Search bar in header******************/

fieldset {
    border:none;
}