.widget-area {
    width: 310px;
    border-left: $standard-border;
    padding: 2rem 3rem;
    padding-right: 0;
    font-size: 1.2rem;
    padding-top: 3rem;
    h2 {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 1.4rem;
        font-weight: bold;
    }
    a {
        text-decoration: none;
        color: $company-green;
        font-family: 'merriweather';
        font-size: 1rem;
    }
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    p {
        font-size: 1rem;
    }
    .day-of-week {
        font-weight: bold;
    }
    .fa {
        padding-right: 10px;
    }
    .side-bar-address {
        display: flex;
        p {
            margin: 0;
            padding-right: 1rem;
        }
        i {
            padding-top: 7px;
        }
    }
}