.widget-area {
    width: 300px;
    border-left: 1px solid #e1e1e1;
    padding: 2rem 3rem;
    padding-right: 0;
    font-size: 1.2rem;
    padding-top: 3rem;
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        a {
            text-decoration: none;
        }
        h2 {
            font-size: 1.5rem;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
        a {
            text-decoration: none;
            color: $company-green;
        }
    }
}

/*.textwidget a {
    text-decoration: none;
    color: $company-green;
}

.widget-title {
    text-transform: uppercase;
}*/