.widget-area {
    width: 370px;
    border-left: 1px solid #e1e1e1;
    padding: 2rem 3rem;
    padding-right: 0;
    font-size: 1.2rem;
    padding-top: 3rem;
    h2 {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 1.5rem;
    }
    a {
        text-decoration: none;
        color: $company-green;
    }
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    h2 {
        text-transform: uppercase;
    }
}


/*.textwidget a {
    text-decoration: none;
    color: $company-green;
}

.widget-title {
    text-transform: uppercase;
}*/