.entry-header h1 {
    color: white;
}

.entry-meta a {
    color: white;
    text-decoration: none;
}

.like-button,
.twitter-button,
.pinterest-button {
    border: 1px solid black;
    margin-bottom: 4rem;
    text-decoration: none;
    color: black;
    font-size: 1rem;
    padding: .6rem 1.3rem;
    margin-top: 4%;
    text-transform: uppercase;
    a {
        font-family: 'novocento';
    }
    &:visited {
        color: black;
    }
    &:hover {
        background-color: $company-green;
        border: 1px solid $company-green;
        color: white;
    }
}

.social-buttons a {
    font-family: 'merriweather';
}

.nav-previous,
.nav-next {
    display: none;
}

.comment-reply-link,
.logged-in-as a {
    color: $company-green;
    text-decoration: none;
}

.comments-title {
    font-weight: bold;
    font-size: 2rem;
    color: black;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.comment-reply-title {
    text-transform: uppercase;
    font-size: 1.8rem;
    letter-spacing: 2px;
    a {
        text-decoration: none;
        color: $company-green;
        font-family: 'novocento';
    }
}

.comment-form-comment label {
    text-transform: uppercase;
    font-family: 'novocento';
}

.comment-metadata {
    color: grey;
    a {
        text-decoration: none;
        color: $company-green;
        &:hover {
            color: black;
        }
        &:visited {
            color: $company-green;
        }
    }
}

.vcard .fn {
    font-weight: bold;
}

input[type=email],
input[type=password],
input[type=search],
input[type=text],
input[type=url],
textarea {
    background: #f4f4f4;
}

.comment-form {
    border-bottom: 1px solid #e1e1e1;
    width: 770px;
    margin-bottom:5rem;
    input[type="text"],
    input[type=email] {
        width: 370px;
    }
    .required {
        color: #d99054;
    }
    label {
        text-transform: uppercase;
        font-family: 'novocento';
    }
    .submit {
        margin: 0;
    }
}

.comment-form-author,
{
    display: flex;
    flex-flow: column;
    float: left;
}

.comment-form-email {
    display: flex;
    flex-flow: column;
    float: right;
}