.taxonomy-description p {
    text-align: center;
    margin-bottom: 3rem;
    padding-bottom: 3rem;
    border-bottom: $standard-border;
}

.tax-product_type {
    .product-types {
        display: none;
    }
    .product-area {
        margin-bottom: 5rem;
    }
}