.find-us-title {
    margin-top: 5rem;
    text-transform: uppercase;
    font-size: 3rem;
    letter-spacing: 2px;
}

.find-us-content-and-sidebar {
    width: 1120px;
    margin: 0 auto;
    display: flex;
}

.find-us-content {
    margin-right: 3rem;
}